#Navbar {
    background-color:#161316;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 10px;
    padding-right: 10px;
}

#NavbarHeader {
    font-size: 30px;
    color: #FBD685;
}

#NavbarGithub {
    font-size: 15px;
    font-weight: 300;
}

.NavbarText {
    font-size: 15px;
    color: #ac9fa7;
}

#Card {
    display: flex;
    flex-direction: column;
    background-color: #292328;
    width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 35px;
    border-style:dotted;
    border-color:#524650;
}

#CardHeader {
    font-size: 28px;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #FBD685;
}

#CardDescription {
    font-size: 20px;
    font-weight: 100;
}

#CardLinks {
    font-size: 15px;
    padding-bottom: 5px;
    color:#ac9fa7;
    width: 100%;
}

#Section {
    display: flex;
    flex-direction:column;
    padding-bottom:0;
    background-color:#312B30;
}

#SectionHeader {
    background-color:#241e23;
    font-size: 35px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 25px;
    box-shadow: 0 2px 0 0 #524650;
}

#SectionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Tag {
    display: inline-block;
    padding: 10px;
    max-height: 50px;
    text-align: justify;
    font-size: 11px;
    font-weight: 400;
    border-radius: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1110px) {
    #Card {
        width: 90%;
    }
}

#Footer {
    background-color:#161316;
}